<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" printsummary="true" colors="false" convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         stopOnFailure="true">

    <testsuites>
        <testsuite>
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src</directory>
        </whitelist>
    </filter>
</phpunit>